body{
  background-color: black;
}
.navbar{
  background-color: black;
}

.aboutMe{
  background-color: gray;
}

.img-circle {
  width: 200px ;
  height: 200px ;
}

#headers {
  color: white;
}

#Portfolio{
  background-color: grey;
  border-radius: 10px;
}
