body{
  background-color: black;
}
.navbar{
  background-color: black;
}

.aboutMe{
  background-color: gray;
}

.img-circle {
  width: 200px ;
  height: 200px ;
}
.footer{
  background-color: black;
  border-radius:  10px;
}

#headers {
  color: white;
}

#Portfolio{
  background-color: white;
  padding: 10px 10px 10px 10px;
}
