body{
  background-color: black;
}
.navbar{
  background-color: black;
}

.aboutMe{
  background-color: gray;
}

.img-circle {
  width: 200px ;
  height: 200px ;
}
.footer{
  background-color: black;
  border-radius:  10px;
}

#shadow{
-webkit-box-shadow: 10px 6px 12px 4px rgba(0, 0, 0, 0.62);
-moz-box-shadow:    10px 6px 12px 4px rgba(0, 0, 0, 0.62);
box-shadow:         10px 6px 12px 4px rgba(0, 0, 0, 0.62);
}

#headers {
  color: white;
}

#Portfolio{
  background-color: white;
  padding: 10px 10px 10px 10px;
}
